@use '../utils/variables' as vars;

body {
  background-color: vars.$background-color;
  color: vars.$color-text;
  font-family: vars.$font-family;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1; 
  display: block;
}